
<%- include("partials/header"); -%>


    <h1><%=title%></h1>
    <p><%=content%></p>
    <a href="/posts/<%= postId %>/edit">Edit</a>

<form action="/posts/<%= postId %>/delete" method="POST" style="display:inline;">
  <button type="submit">Delete</button>
</form>




<%- include("partials/footer"); -%>
