
<%- include("partials/header"); -%>


    <h1><%=title%></h1>
    <p><%=content%></p>
    <a href="/posts/<%= postId %>/edit">Edit</a>

<form action="/posts/<%= postId %>/delete" method="POST" style="display:inline;">
  <button type="submit">Delete</button>
</form>

<hr>

<h3>Ask about this post 🤖</h3>

<div id="chatbox"></div>

<input type="text" id="msg" placeholder="Ask from this post..." />
<button onclick="sendMessage('<%= postId %>')">Send</button>

<script src="/chat.js"></script>



<%- include("partials/footer"); -%>
